*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{   
    background-color: whitesmoke;
    font-family: 'Century Gothic',sans-serif;
}

nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #051f58;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logobox{
    margin-left: 15px;
}
nav .logo{
    color: white;
    position: relative;
    bottom: 12px;
    font-weight: bold;
    font-size: 1em;
}
nav img{
    height: 2.5em;
}
.nav__links{
    display: inline-flex;
    align-items: center;
}
.nav__items{
    color: #fff;
    padding: 18px 10px;
    /* border-radius: 2px; */
}
.nav__items:hover{
    background-color: #041842;
}
.logout{
    /* margin-left: 0.5rem; */
    border-bottom: 3px solid crimson;
    padding: 18px 20px;
}
.logout:hover{
    transition: .1s;
    background-color: crimson;
}

.main{
    position: relative;
}

.dropdown{
    display: none;
}
.toggle{
    display: none;
}
@media screen and (max-width: 768px){ 
    /* SMALL SCREEN */
    .toggle{
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 1.6rem;
        padding: 14px 20px;
    }
    .nav__links{
        display: none;
    }

    .dropdown{
        display: block;
        position: fixed;
        top: 3rem;
        right: 0.5rem;
        border-radius: 1rem;
        background-color: #051f58;
        width: 18rem;
        transition: .2s ease;
        visibility: hidden;
    }
    .show-menu{
        transition: .2s ease-in-out;
        visibility: visible;
        top: 4.5rem;
    }
    .drop-item{
        display: flex;
        text-align: center;
    }
    .dropdown ul{
        display: flex;
        flex-direction: column;
    }
    .dropdown ul li a{
        width: 100%;
        color: #fff;
        padding: 18px;
    }
    .logout-drop{
        border-bottom-left-radius: 1rem;
        padding: 11px !important;
        border-bottom-right-radius: 1rem;
        background-color: crimson;
    }
    .logout-drop:hover{
        background-color: rgb(192, 15, 50);
    }
}

/* EXTRA START ***********************************  */
h3{
    color: rgb(5, 31, 88);
}
.barre{
    width: 100%;
    height: 1px;
    margin-top: 8px;
    background-color: rgb(173, 173, 173);
}
.btn{
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(5, 31, 88);
}
.btn:hover{
    background-color: rgb(10, 46, 122);
}
/* EXTRA END ***********************************  */


/*=============================*/

.wrapper{
    width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 4.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #ddd;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .4rem;
}

form{
    display: flex;
    margin-top: 0.6rem;
    flex-direction: column;
}
input{
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 0.6rem;
}
form .btn{
    align-self: flex-end;
}

@media screen and (max-height: 300px){
    .wrapper{
        padding-top: 100px;
    }
}